In [33]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import svm
from sklearn import metrics

In [34]:
data = pd.read_csv('ionosphere_original.csv',names=["v1","v2","v3","v4","v5","v6","v7","v8","v9","v10","v11","v12","v13","v14","v15","v16","v17","v18","v19","v20","v21","v22","v23","v24","v25","v26","v27","v28","v29","v30","v31","v32","v33","v34","class"])
data.head()

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,v29,v30,v31,v32,v33,v34,class
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,0.85243,-0.17755,0.59755,-0.44945,0.60536,-0.38223,0.84356,-0.38542,0.58212,-0.32192,0.56971,-0.29674,0.36946,-0.47357,0.56811,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,0.50874,-0.67743,0.34432,-0.69707,-0.51685,-0.97515,0.05499,-0.62237,0.33109,-1.00000,-0.13151,-0.45300,-0.18056,-0.35734,-0.20332,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,0.73082,0.05346,0.85443,0.00827,0.54591,0.00299,0.83775,-0.13644,0.75535,-0.08540,0.70887,-0.27502,0.43385,-0.12062,0.57528,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-1.00000,0.14516,0.54094,-0.39330,-1.00000,-0.54467,-0.69975,1.00000,0.00000,0.00000,1.00000,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,0.52798,-0.20275,0.56409,-0.00712,0.34395,-0.27457,0.52940,-0.21780,0.45107,-0.17813,0.05982,-0.35575,0.02309,-0.52879,0.03286,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      351 non-null    int64
 1   v2      351 non-null    int64
 2   v3      351 non-null    float64
 3   v4      351 non-null    float64
 4   v5      351 non-null    float64
 5   v6      351 non-null    float64
 6   v7      351 non-null    float64
 7   v8      351 non-null    float64
 8   v9      351 non-null    float64
 9   v10     351 non-null    float64
 10  v11     351 non-null    float64
 11  v12     351 non-null    float64
 12  v13     351 non-null    float64
 13  v14     351 non-null    float64
 14  v15     351 non-null    float64
 15  v16     351 non-null    float64
 16  v17     351 non-null    float64
 17  v18     351 non-null    float64
 18  v19     351 non-null    float64
 19  v20     351 non-null    float64
 20  v21     351 non-null    float64
 21  v22     351 non-null    float64
 22  v23     351 non-null    float64
 23  v24     351 non-null    float64
 24  v25     351 non-null    float64
 25  v26     351 non-null    float64
 26  v27     351 non-null    float64
 27  v28     351 non-null    float64
 28  v29     351 non-null    float64
 29  v30     351 non-null    float64
 30  v31     351 non-null    float64
 31  v32     351 non-null    float64
 32  v33     351 non-null    float64
 33  v34     351 non-null    float64
 34  class   351 non-null    object
dtypes: float64(32), int64(2), object(1)
memory usage: 96.1+ KB

In [36]:
data.isna().sum()

v1       0
v2       0
v3       0
v4       0
v5       0
v6       0
v7       0
v8       0
v9       0
v10      0
v11      0
v12      0
v13      0
v14      0
v15      0
v16      0
v17      0
v18      0
v19      0
v20      0
v21      0
v22      0
v23      0
v24      0
v25      0
v26      0
v27      0
v28      0
v29      0
v30      0
v31      0
v32      0
v33      0
v34      0
class    0
dtype: int64

In [37]:
data["class"]=data["class"].replace({"g":1,"b":0})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 35 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      351 non-null    int64
 1   v2      351 non-null    int64
 2   v3      351 non-null    float64
 3   v4      351 non-null    float64
 4   v5      351 non-null    float64
 5   v6      351 non-null    float64
 6   v7      351 non-null    float64
 7   v8      351 non-null    float64
 8   v9      351 non-null    float64
 9   v10     351 non-null    float64
 10  v11     351 non-null    float64
 11  v12     351 non-null    float64
 12  v13     351 non-null    float64
 13  v14     351 non-null    float64
 14  v15     351 non-null    float64
 15  v16     351 non-null    float64
 16  v17     351 non-null    float64
 17  v18     351 non-null    float64
 18  v19     351 non-null    float64
 19  v20     351 non-null    float64
 20  v21     351 non-null    float64
 21  v22     351 non-null    float64
 22  v23     351 non-null    float64
 23  v24     351 non-null    float64
 24  v25     351 non-null    float64
 25  v26     351 non-null    float64
 26  v27     351 non-null    float64
 27  v28     351 non-null    float64
 28  v29     351 non-null    float64
 29  v30     351 non-null    float64
 30  v31     351 non-null    float64
 31  v32     351 non-null    float64
 32  v33     351 non-null    float64
 33  v34     351 non-null    float64
 34  class   351 non-null    int64
dtypes: float64(32), int64(3)
memory usage: 96.1 KB

In [38]:
data["class"].value_counts()

1    225
0    126
Name: class, dtype: int64

In [39]:
corrmat=data.corr()
pd.set_option('max_columns', None)
print(corrmat.iloc[34:,:])
# sns.heatmap(corrmat,annot=True,square=True,fmt='.2f')

             v1  v2        v3        v4        v5        v6        v7  \
class  0.465614 NaN  0.519145  0.125884  0.516477  0.149099  0.450429

             v8        v9       v10       v11      v12       v13       v14  \
class  0.207544  0.294852  0.120634  0.167908  0.15994  0.181682  0.197041

            v15       v16      v17       v18       v19      v20       v21  \
class  0.207201  0.148775  0.08706  0.119346  0.117435  0.03562  0.219583

            v22       v23       v24       v25       v26       v27       v28  \
class -0.116385  0.204361  0.006193  0.188185  0.001541 -0.111107  0.042756

            v29       v30       v31       v32       v33       v34  class
class  0.250036 -0.003942  0.294417 -0.036004  0.261157 -0.064168    1.0

In [40]:
#drop data with corr <0.15
data=data.drop(columns=["v2","v4","v6","v10","v16","v17","v18","v19","v20","v22","v24","v26","v27","v28","v30","v32","v34"])
data.head()

,v1,v3,v5,v7,v8,v9,v11,v12,v13,v14,v15,v21,v23,v25,v29,v31,v33,class
0,1,0.99539,0.85243,0.83398,-0.37708,1.00000,0.85243,-0.17755,0.59755,-0.44945,0.60536,0.56971,0.36946,0.56811,0.21266,0.42267,0.18641,1
1,1,1.00000,0.93035,-0.10868,-0.93597,1.00000,0.50874,-0.67743,0.34432,-0.69707,-0.51685,-0.13151,-0.18056,-0.20332,-0.19040,-0.16626,-0.13738,0
2,1,1.00000,1.00000,1.00000,-0.12062,0.88965,0.73082,0.05346,0.85443,0.00827,0.54591,0.70887,0.43385,0.57528,0.43100,0.60436,0.56045,1
3,1,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,-1.00000,-0.69975,0.00000,1.00000,1.00000,0.25682,-0.32382,0
4,1,1.00000,0.94140,0.92106,-0.23255,0.77152,0.52798,-0.20275,0.56409,-0.00712,0.34395,0.05982,0.02309,0.03286,0.02431,-0.05707,-0.04608,1

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 18 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      351 non-null    int64
 1   v3      351 non-null    float64
 2   v5      351 non-null    float64
 3   v7      351 non-null    float64
 4   v8      351 non-null    float64
 5   v9      351 non-null    float64
 6   v11     351 non-null    float64
 7   v12     351 non-null    float64
 8   v13     351 non-null    float64
 9   v14     351 non-null    float64
 10  v15     351 non-null    float64
 11  v21     351 non-null    float64
 12  v23     351 non-null    float64
 13  v25     351 non-null    float64
 14  v29     351 non-null    float64
 15  v31     351 non-null    float64
 16  v33     351 non-null    float64
 17  class   351 non-null    int64
dtypes: float64(16), int64(2)
memory usage: 49.5 KB

In [42]:
cols = list(data.columns)
cols.remove("class")
cols.insert(0,"class")
data=data[cols]
data.to_csv("ionosphere_cba.csv",index=False)
data.to_csv("ionosphere_others.csv",index=False)