In [70]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn import metrics
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [75]:
# Original Dataset
df = pd.read_csv('tictactoe_original.csv')
df.head()

,Top Left,Top Middle,Top Right,Middle Left,Middle Middle,Middle Right,Bottom Left,Bottom Middle,Bottom Right,Class
0,x,x,x,x,o,o,x,o,o,positive
1,x,x,x,x,o,o,o,x,o,positive
2,x,x,x,x,o,o,o,o,x,positive
3,x,x,x,x,o,o,o,b,b,positive
4,x,x,x,x,o,o,b,o,b,positive

In [76]:
# Cleaning dataset for CBA classifier
df.dropna()
df.loc[df["Class"] == 'positive', "Class"] = 1
df.loc[df["Class"] == 'negative', "Class"] = 0
df_class = ttt['Class']
df = df.drop(['Class'], axis=1)
df.insert(loc = 0, column = 'Class', value = df_class)  
df = df.applymap(str)

df.head()

,Class,Top Left,Top Middle,Top Right,Middle Left,Middle Middle,Middle Right,Bottom Left,Bottom Middle,Bottom Right
0,1,x,x,x,x,o,o,x,o,o
1,1,x,x,x,x,o,o,o,x,o
2,1,x,x,x,x,o,o,o,o,x
3,1,x,x,x,x,o,o,o,b,b
4,1,x,x,x,x,o,o,b,o,b

In [72]:
df.dtypes

Class            object
Top Left         object
Top Middle       object
Top Right        object
Middle Left      object
Middle Middle    object
Middle Right     object
Bottom Left      object
Bottom Middle    object
Bottom Right     object
dtype: object

In [73]:
# Cleaning data for other classifier methods
numofcols = len(df.columns)

# transform and map pokemon generations
for col in df.columns[1:]: 
    le = LabelEncoder()
    label = le.fit_transform(df[col])
    col_name = str(col)+'_Label'
    df[col_name] = label
    
    ohe = OneHotEncoder()
    feature_arr = ohe.fit_transform(df[[col_name]]).toarray()
    feature_labels = list(le.classes_)
    feature_labels = [col+'_'+x for x in feature_labels]
    
    features = pd.DataFrame(feature_arr, columns=feature_labels)
    
    df.reset_index(drop=True, inplace=True)
    features.reset_index(drop=True, inplace=True)
    
    df = pd.concat([df, features], axis=1)
    df = df.drop([col, col_name], axis=1)
    
df['Class'] = df['Class'].astype(str).astype(int)

df.head()

,Class,Top Left_b,Top Left_o,Top Left_x,Top Middle_b,Top Middle_o,Top Middle_x,Top Right_b,Top Right_o,Top Right_x,...,Middle Right_x,Bottom Left_b,Bottom Left_o,Bottom Left_x,Bottom Middle_b,Bottom Middle_o,Bottom Middle_x,Bottom Right_b,Bottom Right_o,Bottom Right_x
0,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [74]:
df.dtypes

Class                int32
Top Left_b         float64
Top Left_o         float64
Top Left_x         float64
Top Middle_b       float64
Top Middle_o       float64
Top Middle_x       float64
Top Right_b        float64
Top Right_o        float64
Top Right_x        float64
Middle Left_b      float64
Middle Left_o      float64
Middle Left_x      float64
Middle Middle_b    float64
Middle Middle_o    float64
Middle Middle_x    float64
Middle Right_b     float64
Middle Right_o     float64
Middle Right_x     float64
Bottom Left_b      float64
Bottom Left_o      float64
Bottom Left_x      float64
Bottom Middle_b    float64
Bottom Middle_o    float64
Bottom Middle_x    float64
Bottom Right_b     float64
Bottom Right_o     float64
Bottom Right_x     float64
dtype: object